node_modules/
yarn.lock
package-lock.json
build/
dist/
*.tsbuildinfo
.env
.env.local
.env.production
*.log
logs/
coverage/
Dockerfile
docker-compose.yaml
docker-compose.yml
.git/
.gitignore
.vscode/
.idea/
*.min.js
*.min.css
README.md
CHANGELOG.md
LICENSE

.turbo/
